src/main/mule/desta-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:x12="http://www.mulesoft.org/schema/mule/x12" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/x12 http://www.mulesoft.org/schema/mule/x12/current/mule-x12.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="944f0898-e50b-4070-b3e1-5eb1c6437009" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="desta-cicdFlow" doc:id="8aa3b3e3-a07a-434a-b7a4-7ca820d94c90" >
		<http:listener doc:name="Listener" doc:id="7bd8b841-bcb5-4c41-9491-0ea0860a8031" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="#['hello world program for cicd']" doc:name="Set Payload" doc:id="8d888f63-e1ce-427c-802f-2b62d8b16478" />
	</flow>
</mule>
